<div class="section-datos">
  <h2 style="text-align: center;">Modificar Datos Personales</h2>
  <div class="datos-personales">
    <form action="/dashboard/datos-personales/edit" method="PUT"
    class=" m-auto text-center wrapper col-12 card" style="width: 90%;">
      <div class="input-group mb-3 d-flex justify-content-center">
        <span class="input-group-text d-flex justify-content-center"><i
          class="fas fa-user-circle"
        ></i></span>
        <input type="text" id="name" name="name" value="{{info.name}}" placeholder="nuevo nombre"  required></input>
      </div>
      <div class="input-group mb-3 d-flex justify-content-center">
        <span class="input-group-text d-flex justify-content-center"><i
          class="fas fa-envelope"
        ></i></span>
        <input type="email" id="email" name="email" value="{{info.email}}" placeholder="nuevo email" required></input>
      </div>
      <div class="input-group mb-3 d-flex justify-content-center">
       <span class="input-group-text d-flex justify-content-center"><i class="fas fa-map-marker-alt"></i></span>
        <input type="text" id="address" name="address" value="{{info.address}}" placeholder="nueva direccion" required></input>
      </div>
      <div class="input-group mb-3 d-flex justify-content-center">
        <span class="input-group-text d-flex justify-content-center"><i
          class="fas fa-id-card"
        ></i></span>
        <input type="text" id="rut" name="rut" value="{{info.rut}}" disabled></input>
      </div>
      <div class="input-group mb-3 d-flex justify-content-center">
        <span class="input-group-text d-flex justify-content-center"><i class="fa-duotone fa-hashtag"></i></span>
        <input type="text" id="account" value="{{info.account}}" disabled></input>
      </div>
    </form>
  </div>
  <button
    type="submit"
    class="btn btn-dark w-40 m-auto btn-ingresar fs-4 d-flex justify-content-center mt-4"
    data-mdb-ripple-color="dark"
    onclick="editarDatos()"
  >Guardar Datos</button>
</div>

<script src="/js/editUser.js">

</script>